

.question-container {
    margin-top: 1.5rem;
    background-color: var(--grey-bg-card);
    border: 0.5px solid var(--grey-bg-card);
    border-left: 4px solid var(--clr-lcars-blue);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
}


.answer-box {
    background-color: var(--grey-bg-inner);
    border: 0.5px solid var(--grey-bg-inner);
    border-radius: 0.5rem;
    /* box-shadow: 0 0 0 0.2rem rgba(31, 41, 51, .5); */
    outline: none;
    color: var(--grey-text-light);
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.question-form {
    padding-inline: 0rem;
    padding-block:0.5rem;
    display: flex;
    flex-direction: column;
}

.ask-dayta-text {
    width: auto;    
    align-self: flex-start;
    background-color: var(--clr-lcars-blue);
    font-size: var(--fs-mobilesmall);
    font-weight: var(--fw-700);
    border: 0.5px solid var(--clr-lcars-blue);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0.3rem;
    color: var(--grey-bg-deep);
}

.question-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.question-group .question-form-control {
    flex: 1;         
    margin: 0;
}

.question-container .form-control {
    color: var(--grey-text-muted);
}

.question-container .form-control:focus {
    background-color: var(--grey-bg-inner);
    border-color: var(--grey-bg-inner);
    box-shadow: 0 0 0 0.2rem rgba(31, 41, 51, .5);
    outline: none;
    color: var(--grey-text-muted);
}

textarea.question-form-control::placeholder {
  color: var(--grey-text-muted);   
  opacity: 1;                      
}

.question-form-button.btn-primary {
    display: inline-flex;              
    align-items: center;  
    width: auto; 
    background-color: var(--clr-lcars-blue);
    border: 0.5px solid var(--clr-lcars-blue);
    border-radius: 0.5rem;
    color: black;
    font-size: var(--fs-normal);
    font-weight: var(--fw-700);
    padding: 0.6rem;
    margin-left: 0.3rem;
}


@media (min-width: 576px) {
    .container.question-container {
        padding: 1.25rem 2rem;
    }
    .question-form {
        width: 100%;
    }
    .container.answer-box {
        width: 100%; 
        margin-inline: 0;
    }
    .question-form-button.btn-primary {
        font-size: var(--fs-normal);
        font-weight: var(--fw-700);
        padding: 0.8rem;
    }
    .ask-dayta-text {
        font-size: var(--fs-small);
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .container.question-container {
        padding-inline:2rem;
        margin-top: 1rem;
    }
    .question-form {
        padding-inline: 0rem;
        padding-top: 0rem;
        width: 100%;
    }
    .container.answer-box {
        width: 100%; 
        padding-block: 0.5rem;
        margin-inline: 0;
        margin-bottom: 0;
    }
}

/* Large screens*/
@media (min-width: 992px) {
    .question-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

