:root {
    /* --clr-gold: #FFCC33;
    --clr-lcars-blue: #4455FF;
    --clr-tactical: #FF7700; */

    --clr-gold: #FFCC66;     
    --clr-lcars-blue: #6699FF;
    --clr-tactical: #FF9966;  
    --clr-lcars-purple: #CC99FF;
    --clr-gold-hover: #FFCC33;
    --clr-tactical-hover: #FF7F40;
    --clr-lcars-purple-hover: #B377FF;
    --clr-command: #C00021;

    /* Grey tones */
    --grey-bg-deep: #050712;
    --grey-bg-card: #111827;
    --grey-bg-inner: #1F2937;
    --grey-border: #1F2933;
    --grey-text-muted: #9CA3AF;
    --grey-text-light: #D1D5DB;


    --clr-alert: #9e2a2b;
    --clr-lcars-blue-hover: #2362B2;
    --clr-light: white;

    --fw-100: 100;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    --fs-mobilemedium: 1.04rem;
    --fs-small: 0.875rem;
    --fs-mobilesmall: 0.7rem;
    --fs-medium: 1.05rem;
    --fs-normal:1rem;
    --fs-large: 1.3rem;
    --fs-brand: 2rem;
}

body.app-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-bg-deep);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* utilities */

.bg-grey-inner {
  background-color: var(--grey-bg-inner);
  border: 0.5px solid var(--grey-bg-inner);
}


.text-color-grey {
  color: var(--grey-text-muted);
}

.text-color-gold {
  color: var(--clr-gold);
}